USE [DBGroup2]
GO
/****** Object:  Table [dbo].[BookingDevices]    Script Date: 7/19/2026 3:22:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingDevices](
	[BookingDeviceID] [int] IDENTITY(1,1) NOT NULL,
	[ProjectName] [nvarchar](255) NOT NULL,
	[ProjectDescription] [nvarchar](max) NOT NULL,
	[Faculty] [nvarchar](255) NOT NULL,
	[Department] [nvarchar](255) NOT NULL,
	[FilePath] [nvarchar](max) NULL,
	[BookingDate] [date] NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[ServiceID] [int] NULL,
	[DeviceID] [int] NULL,
	[RequestID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingDeviceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConsultationMajors]    Script Date: 7/19/2026 3:22:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsultationMajors](
	[ConsultationMajorID] [int] IDENTITY(1,1) NOT NULL,
	[Major] [nvarchar](255) NOT NULL,
	[ConsultationDescription] [nvarchar](max) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ConsultationMajorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Consultations]    Script Date: 7/19/2026 3:22:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consultations](
	[ConsultationID] [int] IDENTITY(1,1) NOT NULL,
	[ConsultationDescription] [nvarchar](max) NOT NULL,
	[ConsultationDate] [date] NOT NULL,
	[AvailableTimes] [time](7) NOT NULL,
	[PreferredContactMethod] [nvarchar](255) NULL,
	[ServiceID] [int] NULL,
	[RequestID] [int] NULL,
	[ConsultationMajorID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ConsultationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 7/19/2026 3:22:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[CourseID] [int] IDENTITY(1,1) NOT NULL,
	[CourseName] [nvarchar](255) NOT NULL,
	[CourseField] [nvarchar](255) NOT NULL,
	[CourseDescription] [nvarchar](max) NOT NULL,
	[PresenterName] [nvarchar](255) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[ServiceID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeviceLoans]    Script Date: 7/19/2026 3:22:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceLoans](
	[DeviceLoanID] [int] IDENTITY(1,1) NOT NULL,
	[Purpose] [nvarchar](max) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[PreferredContactMethod] [nvarchar](255) NULL,
	[ServiceID] [int] NULL,
	[DeviceID] [int] NULL,
	[RequestID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DeviceLoanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Devices]    Script Date: 7/19/2026 3:22:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Devices](
	[DeviceID] [int] IDENTITY(1,1) NOT NULL,
	[DeviceName] [nvarchar](255) NOT NULL,
	[BrandName] [nvarchar](255) NOT NULL,
	[DeviceModel] [nvarchar](255) NULL,
	[SerialNumber] [nvarchar](255) NOT NULL,
	[DeviceStatus] [nvarchar](255) NOT NULL,
	[DeviceLocation] [nvarchar](255) NOT NULL,
	[LastMaintenance] [datetime] NULL,
	[LastUpdate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[TechnologyID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DeviceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LabVisits]    Script Date: 7/19/2026 3:22:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LabVisits](
	[LabVisitID] [int] IDENTITY(1,1) NOT NULL,
	[NumberOfVisitors] [int] NOT NULL,
	[VisitDate] [date] NOT NULL,
	[PreferredTime] [time](7) NOT NULL,
	[PreferredContactMethod] [nvarchar](255) NULL,
	[AdditionalNotes] [nvarchar](max) NULL,
	[ServiceID] [int] NULL,
	[RequestID] [int] NULL,
	[VisitDetailsID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[LabVisitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Requests]    Script Date: 7/19/2026 3:22:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Requests](
	[RequestID] [int] IDENTITY(1,1) NOT NULL,
	[RequestType] [nvarchar](255) NOT NULL,
	[SupervisorStatus] [nvarchar](255) NOT NULL,
	[RequestDate] [datetime] NOT NULL,
	[SupervisorAssigned] [int] NULL,
	[AdminStatus] [nvarchar](255) NULL,
	[Notes] [nvarchar](max) NULL,
	[UserID] [int] NOT NULL,
	[ServiceID] [int] NOT NULL,
	[DeviceID] [int] NOT NULL,
	[CourseID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceDevices]    Script Date: 7/19/2026 3:22:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceDevices](
	[ServiceDeviceID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceID] [int] NOT NULL,
	[DeviceID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceDeviceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 7/19/2026 3:22:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[ServiceID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceName] [nvarchar](255) NOT NULL,
	[ServiceDescription] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Technologies]    Script Date: 7/19/2026 3:22:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Technologies](
	[TechnologyID] [int] IDENTITY(1,1) NOT NULL,
	[TechnologyName] [nvarchar](255) NOT NULL,
	[TechnologyDescription] [nvarchar](max) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TechnologyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/19/2026 3:22:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](255) NOT NULL,
	[LastName] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[UserName] [nvarchar](255) NOT NULL,
	[PhoneNumber] [nvarchar](255) NOT NULL,
	[UserRole] [nvarchar](255) NOT NULL,
	[Faculty] [nvarchar](255) NOT NULL,
	[Department] [nvarchar](255) NOT NULL,
	[UserPassWord] [nvarchar](255) NOT NULL,
	[LastLogIn] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VisitsDetails]    Script Date: 7/19/2026 3:22:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VisitsDetails](
	[VisitDetailsID] [int] IDENTITY(1,1) NOT NULL,
	[visitType] [nvarchar](255) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VisitDetailsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BookingDevices] ON 

INSERT [dbo].[BookingDevices] ([BookingDeviceID], [ProjectName], [ProjectDescription], [Faculty], [Department], [FilePath], [BookingDate], [StartTime], [EndTime], [ServiceID], [DeviceID], [RequestID]) VALUES (20, N'نظام تحليل التربة', N'مشروع يهدف إلى قياس وتحليل خصائص التربة باستخدام أجهزة استشعار ذكية', N'كلية الحاسبات', N'علوم الحاسب', NULL, CAST(N'2025-07-20' AS Date), CAST(N'09:00:00' AS Time), CAST(N'11:00:00' AS Time), 14, 1, 11)
INSERT [dbo].[BookingDevices] ([BookingDeviceID], [ProjectName], [ProjectDescription], [Faculty], [Department], [FilePath], [BookingDate], [StartTime], [EndTime], [ServiceID], [DeviceID], [RequestID]) VALUES (21, N'نظام تحليل التربة', N'مشروع يهدف إلى قياس وتحليل خصائص التربة باستخدام أجهزة استشعار ذكية', N'كلية الحاسبات', N'علوم الحاسب', NULL, CAST(N'2025-07-20' AS Date), CAST(N'09:00:00' AS Time), CAST(N'11:00:00' AS Time), 14, 1, 11)
INSERT [dbo].[BookingDevices] ([BookingDeviceID], [ProjectName], [ProjectDescription], [Faculty], [Department], [FilePath], [BookingDate], [StartTime], [EndTime], [ServiceID], [DeviceID], [RequestID]) VALUES (23, N'مشروع بيئي ذكي', N'تطوير نظام ذكي لمراقبة البيئة', N'كلية الحاسبات', N'علوم الحاسب', NULL, CAST(N'2025-07-22' AS Date), CAST(N'10:00:00' AS Time), CAST(N'12:00:00' AS Time), 14, 1, 19)
SET IDENTITY_INSERT [dbo].[BookingDevices] OFF
GO
SET IDENTITY_INSERT [dbo].[ConsultationMajors] ON 

INSERT [dbo].[ConsultationMajors] ([ConsultationMajorID], [Major], [ConsultationDescription], [IsDeleted]) VALUES (1, N'الذكاء الاصطناعي', N'استشارة حول خوارزميات تعلم الآلة', 0)
INSERT [dbo].[ConsultationMajors] ([ConsultationMajorID], [Major], [ConsultationDescription], [IsDeleted]) VALUES (2, N'الواقع المعزز', N'دعم فني لتطبيقات AR', 0)
INSERT [dbo].[ConsultationMajors] ([ConsultationMajorID], [Major], [ConsultationDescription], [IsDeleted]) VALUES (3, N'الذكاء الاصطناعي', N'استشارة حول خوارزميات تعلم الآلة', 0)
SET IDENTITY_INSERT [dbo].[ConsultationMajors] OFF
GO
SET IDENTITY_INSERT [dbo].[Consultations] ON 

INSERT [dbo].[Consultations] ([ConsultationID], [ConsultationDescription], [ConsultationDate], [AvailableTimes], [PreferredContactMethod], [ServiceID], [RequestID], [ConsultationMajorID]) VALUES (15, N'مساعدة في مشروع تخرج', CAST(N'2025-07-03' AS Date), CAST(N'10:00:00' AS Time), N'بريد', NULL, 12, 1)
INSERT [dbo].[Consultations] ([ConsultationID], [ConsultationDescription], [ConsultationDate], [AvailableTimes], [PreferredContactMethod], [ServiceID], [RequestID], [ConsultationMajorID]) VALUES (21, N'مساعدة في مشروع ذكاء اصطناعي', CAST(N'2025-07-27' AS Date), CAST(N'10:00:00' AS Time), N'بريد إلكتروني', NULL, NULL, 1)
INSERT [dbo].[Consultations] ([ConsultationID], [ConsultationDescription], [ConsultationDate], [AvailableTimes], [PreferredContactMethod], [ServiceID], [RequestID], [ConsultationMajorID]) VALUES (22, N'نقاش حول تطوير تطبيق', CAST(N'2025-07-28' AS Date), CAST(N'12:00:00' AS Time), N'واتساب', NULL, NULL, 2)
SET IDENTITY_INSERT [dbo].[Consultations] OFF
GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([CourseID], [CourseName], [CourseField], [CourseDescription], [PresenterName], [IsDeleted], [ServiceID]) VALUES (5, N'مقدمة في Unity', N'برمجة', N'دورة لتعلم تطوير الألعاب', N'د. فهد', 0, 15)
INSERT [dbo].[Courses] ([CourseID], [CourseName], [CourseField], [CourseDescription], [PresenterName], [IsDeleted], [ServiceID]) VALUES (6, N'تحليل الأنظمة', N'نظم معلومات', N'مفاهيم تحليل وتصميم النظم', N'أ. منى', 0, 15)
INSERT [dbo].[Courses] ([CourseID], [CourseName], [CourseField], [CourseDescription], [PresenterName], [IsDeleted], [ServiceID]) VALUES (7, N'مقدمة في Unity', N'برمجة', N'دورة لتعلم تطوير الألعاب', N'د. فهد', 0, 15)
SET IDENTITY_INSERT [dbo].[Courses] OFF
GO
SET IDENTITY_INSERT [dbo].[DeviceLoans] ON 

INSERT [dbo].[DeviceLoans] ([DeviceLoanID], [Purpose], [StartDate], [EndDate], [PreferredContactMethod], [ServiceID], [DeviceID], [RequestID]) VALUES (17, N'إعارة روبوت لمشروع تخرج', CAST(N'2025-07-20' AS Date), CAST(N'2025-07-25' AS Date), N'بريد إلكتروني', 12, 1, NULL)
INSERT [dbo].[DeviceLoans] ([DeviceLoanID], [Purpose], [StartDate], [EndDate], [PreferredContactMethod], [ServiceID], [DeviceID], [RequestID]) VALUES (18, N'إعارة VR لمشروع تخرج', CAST(N'2025-07-20' AS Date), CAST(N'2025-07-25' AS Date), N'بريد إلكتروني', 12, 2, NULL)
INSERT [dbo].[DeviceLoans] ([DeviceLoanID], [Purpose], [StartDate], [EndDate], [PreferredContactMethod], [ServiceID], [DeviceID], [RequestID]) VALUES (19, N'إعارة طابعة لمشروع طباعة ثلاثية الأبعاد', CAST(N'2025-07-20' AS Date), CAST(N'2025-07-27' AS Date), N'واتساب', 12, 1, NULL)
SET IDENTITY_INSERT [dbo].[DeviceLoans] OFF
GO
SET IDENTITY_INSERT [dbo].[Devices] ON 

INSERT [dbo].[Devices] ([DeviceID], [DeviceName], [BrandName], [DeviceModel], [SerialNumber], [DeviceStatus], [DeviceLocation], [LastMaintenance], [LastUpdate], [IsDeleted], [TechnologyID]) VALUES (1, N'طابعة', N'سوني', N'2025', N'123', N'inactive', N'معمل ', CAST(N'2025-07-14T11:26:08.543' AS DateTime), CAST(N'2025-07-14T12:24:10.347' AS DateTime), 1, 1)
INSERT [dbo].[Devices] ([DeviceID], [DeviceName], [BrandName], [DeviceModel], [SerialNumber], [DeviceStatus], [DeviceLocation], [LastMaintenance], [LastUpdate], [IsDeleted], [TechnologyID]) VALUES (2, N'VR Headset', N'Meta', N'Quest 2', N'VR123456', N'عاملة', N'غرفة VR', CAST(N'2025-06-01T00:00:00.000' AS DateTime), CAST(N'2025-07-01T00:00:00.000' AS DateTime), 0, NULL)
INSERT [dbo].[Devices] ([DeviceID], [DeviceName], [BrandName], [DeviceModel], [SerialNumber], [DeviceStatus], [DeviceLocation], [LastMaintenance], [LastUpdate], [IsDeleted], [TechnologyID]) VALUES (3, N'3D Printer', N'Creality', N'Ender 3', N'PR123456', N'صيانة', N'معمل الطباعة', CAST(N'2025-05-20T00:00:00.000' AS DateTime), CAST(N'2025-07-01T00:00:00.000' AS DateTime), 0, NULL)
SET IDENTITY_INSERT [dbo].[Devices] OFF
GO
SET IDENTITY_INSERT [dbo].[LabVisits] ON 

INSERT [dbo].[LabVisits] ([LabVisitID], [NumberOfVisitors], [VisitDate], [PreferredTime], [PreferredContactMethod], [AdditionalNotes], [ServiceID], [RequestID], [VisitDetailsID]) VALUES (18, 1, CAST(N'2025-07-21' AS Date), CAST(N'10:00:00' AS Time), N'واتساب', N'زيارة فردية لطالبة مهتمة بالأجهزة', 13, NULL, 1)
INSERT [dbo].[LabVisits] ([LabVisitID], [NumberOfVisitors], [VisitDate], [PreferredTime], [PreferredContactMethod], [AdditionalNotes], [ServiceID], [RequestID], [VisitDetailsID]) VALUES (19, 12, CAST(N'2025-07-22' AS Date), CAST(N'11:00:00' AS Time), N'بريد إلكتروني', N'زيارة جماعية لطلاب مادة مشروع الابتكار', 13, NULL, 2)
SET IDENTITY_INSERT [dbo].[LabVisits] OFF
GO
SET IDENTITY_INSERT [dbo].[Requests] ON 

INSERT [dbo].[Requests] ([RequestID], [RequestType], [SupervisorStatus], [RequestDate], [SupervisorAssigned], [AdminStatus], [Notes], [UserID], [ServiceID], [DeviceID], [CourseID]) VALUES (11, N'حجز جهاز', N'موافق عليه من قبل المشرف', CAST(N'2025-06-29T00:00:00.000' AS DateTime), 3, N'قيد التنفيذ', N'حجز لاستخدام الجهاز في مشروع', 1, 14, 1, 5)
INSERT [dbo].[Requests] ([RequestID], [RequestType], [SupervisorStatus], [RequestDate], [SupervisorAssigned], [AdminStatus], [Notes], [UserID], [ServiceID], [DeviceID], [CourseID]) VALUES (12, N'استشارة', N'موافق', CAST(N'2025-07-01T00:00:00.000' AS DateTime), 3, N'تم', N'استشارة حول استخدام AR', 2, 2, 2, 6)
INSERT [dbo].[Requests] ([RequestID], [RequestType], [SupervisorStatus], [RequestDate], [SupervisorAssigned], [AdminStatus], [Notes], [UserID], [ServiceID], [DeviceID], [CourseID]) VALUES (15, N'إعارة جهاز', N'موافق', CAST(N'2025-07-16T09:55:14.000' AS DateTime), 3, N'تم الإجراء', N'إعارة روبوت لمشروع تخرج', 2, 12, 1, NULL)
SET IDENTITY_INSERT [dbo].[Requests] OFF
GO
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([ServiceID], [ServiceName], [ServiceDescription]) VALUES (2, N'استشارة', N'طلب لقاء مع مستشار')
INSERT [dbo].[Services] ([ServiceID], [ServiceName], [ServiceDescription]) VALUES (12, N'إعارة', N'طلب إعارة جهاز لاستخدامه خارج المعمل لفترة محددة وفق شروط الاستخدام')
INSERT [dbo].[Services] ([ServiceID], [ServiceName], [ServiceDescription]) VALUES (13, N'زيارة', N'طلب زيارة المعمل للاطلاع على الأجهزة والتقنيات المتوفرة وتنظيم جولة ميدانية')
SET IDENTITY_INSERT [dbo].[Services] OFF
GO
SET IDENTITY_INSERT [dbo].[Technologies] ON 

INSERT [dbo].[Technologies] ([TechnologyID], [TechnologyName], [TechnologyDescription], [IsDeleted]) VALUES (1, N'طابعة ثلاثية الأبعاد', N'طابعة', 0)
INSERT [dbo].[Technologies] ([TechnologyID], [TechnologyName], [TechnologyDescription], [IsDeleted]) VALUES (3, N'نظارة', N'-', 0)
INSERT [dbo].[Technologies] ([TechnologyID], [TechnologyName], [TechnologyDescription], [IsDeleted]) VALUES (4, N'الواقع الافتراضي (VR)', N'تقنية تسمح للمستخدمين بالتفاعل مع بيئة محاكية ثلاثية الأبعاد باستخدام نظارات خاصة.', 0)
SET IDENTITY_INSERT [dbo].[Technologies] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [FirstName], [LastName], [Email], [UserName], [PhoneNumber], [UserRole], [Faculty], [Department], [UserPassWord], [LastLogIn], [IsActive], [IsDeleted]) VALUES (1, N'سارة', N'الزهراني', N'sara@example.com', N'saraZ', N'0500000001', N'مشرف', N'كلية الطب', N'طب عام', N'99', CAST(N'2025-07-13T10:00:00.000' AS DateTime), 0, 0)
INSERT [dbo].[Users] ([UserID], [FirstName], [LastName], [Email], [UserName], [PhoneNumber], [UserRole], [Faculty], [Department], [UserPassWord], [LastLogIn], [IsActive], [IsDeleted]) VALUES (2, N'محمد', N'الغامدي', N'mohammed@example.com', N'mghamdi', N'0500000002', N'مشرف', N'علوم', N'فيزياء', N'admin123', CAST(N'2025-07-12T09:30:00.000' AS DateTime), 1, 0)
INSERT [dbo].[Users] ([UserID], [FirstName], [LastName], [Email], [UserName], [PhoneNumber], [UserRole], [Faculty], [Department], [UserPassWord], [LastLogIn], [IsActive], [IsDeleted]) VALUES (3, N'ريناس', N'السلمي', N'ralsulami0368@stu.kau.edu.sa', N'2206', N'05378140', N'مشرف', N'كلية الهندسة', N'الهندسة الكهربائية', N'78', CAST(N'2025-07-14T12:42:52.517' AS DateTime), 1, 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[VisitsDetails] ON 

INSERT [dbo].[VisitsDetails] ([VisitDetailsID], [visitType], [IsDeleted]) VALUES (1, N'زيارة فردية', 0)
INSERT [dbo].[VisitsDetails] ([VisitDetailsID], [visitType], [IsDeleted]) VALUES (2, N'زيارة جماعية', 0)
SET IDENTITY_INSERT [dbo].[VisitsDetails] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__85FB4E38F82DB5BA]    Script Date: 7/19/2026 3:22:12 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[PhoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534374EE266]    Script Date: 7/19/2026 3:22:12 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__C9F2845697958F24]    Script Date: 7/19/2026 3:22:12 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ConsultationMajors] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Devices] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[LabVisits] ADD  DEFAULT ((1)) FOR [NumberOfVisitors]
GO
ALTER TABLE [dbo].[Requests] ADD  DEFAULT ('بإنتظار إسناد المشرف') FOR [SupervisorStatus]
GO
ALTER TABLE [dbo].[Technologies] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[VisitsDetails] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[BookingDevices]  WITH CHECK ADD  CONSTRAINT [FK_BookingDevices_Devices] FOREIGN KEY([DeviceID])
REFERENCES [dbo].[Devices] ([DeviceID])
GO
ALTER TABLE [dbo].[BookingDevices] CHECK CONSTRAINT [FK_BookingDevices_Devices]
GO
ALTER TABLE [dbo].[BookingDevices]  WITH CHECK ADD  CONSTRAINT [FK_BookingDevices_Requests] FOREIGN KEY([RequestID])
REFERENCES [dbo].[Requests] ([RequestID])
GO
ALTER TABLE [dbo].[BookingDevices] CHECK CONSTRAINT [FK_BookingDevices_Requests]
GO
ALTER TABLE [dbo].[BookingDevices]  WITH CHECK ADD  CONSTRAINT [FK_BookingDevices_Services] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Services] ([ServiceID])
GO
ALTER TABLE [dbo].[BookingDevices] CHECK CONSTRAINT [FK_BookingDevices_Services]
GO
ALTER TABLE [dbo].[Consultations]  WITH CHECK ADD  CONSTRAINT [FK_Consultations_ConsultationMajors] FOREIGN KEY([ConsultationMajorID])
REFERENCES [dbo].[ConsultationMajors] ([ConsultationMajorID])
GO
ALTER TABLE [dbo].[Consultations] CHECK CONSTRAINT [FK_Consultations_ConsultationMajors]
GO
ALTER TABLE [dbo].[Consultations]  WITH CHECK ADD  CONSTRAINT [FK_Consultations_Request] FOREIGN KEY([RequestID])
REFERENCES [dbo].[Requests] ([RequestID])
GO
ALTER TABLE [dbo].[Consultations] CHECK CONSTRAINT [FK_Consultations_Request]
GO
ALTER TABLE [dbo].[Consultations]  WITH CHECK ADD  CONSTRAINT [FK_Consultations_Services] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Services] ([ServiceID])
GO
ALTER TABLE [dbo].[Consultations] CHECK CONSTRAINT [FK_Consultations_Services]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK_Courses_Services] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Services] ([ServiceID])
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_Courses_Services]
GO
ALTER TABLE [dbo].[DeviceLoans]  WITH CHECK ADD  CONSTRAINT [FK_DeviceLoans_Devices] FOREIGN KEY([DeviceID])
REFERENCES [dbo].[Devices] ([DeviceID])
GO
ALTER TABLE [dbo].[DeviceLoans] CHECK CONSTRAINT [FK_DeviceLoans_Devices]
GO
ALTER TABLE [dbo].[DeviceLoans]  WITH CHECK ADD  CONSTRAINT [FK_DeviceLoans_Requests] FOREIGN KEY([RequestID])
REFERENCES [dbo].[Requests] ([RequestID])
GO
ALTER TABLE [dbo].[DeviceLoans] CHECK CONSTRAINT [FK_DeviceLoans_Requests]
GO
ALTER TABLE [dbo].[DeviceLoans]  WITH CHECK ADD  CONSTRAINT [FK_DeviceLoans_Services] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Services] ([ServiceID])
GO
ALTER TABLE [dbo].[DeviceLoans] CHECK CONSTRAINT [FK_DeviceLoans_Services]
GO
ALTER TABLE [dbo].[Devices]  WITH CHECK ADD  CONSTRAINT [FK_Devices_Technologies] FOREIGN KEY([TechnologyID])
REFERENCES [dbo].[Technologies] ([TechnologyID])
GO
ALTER TABLE [dbo].[Devices] CHECK CONSTRAINT [FK_Devices_Technologies]
GO
ALTER TABLE [dbo].[LabVisits]  WITH CHECK ADD  CONSTRAINT [FK_LabVisits_Requests] FOREIGN KEY([RequestID])
REFERENCES [dbo].[Requests] ([RequestID])
GO
ALTER TABLE [dbo].[LabVisits] CHECK CONSTRAINT [FK_LabVisits_Requests]
GO
ALTER TABLE [dbo].[LabVisits]  WITH CHECK ADD  CONSTRAINT [FK_LabVisits_Services] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Services] ([ServiceID])
GO
ALTER TABLE [dbo].[LabVisits] CHECK CONSTRAINT [FK_LabVisits_Services]
GO
ALTER TABLE [dbo].[LabVisits]  WITH CHECK ADD  CONSTRAINT [FK_LabVisits_VisitsDetails] FOREIGN KEY([VisitDetailsID])
REFERENCES [dbo].[VisitsDetails] ([VisitDetailsID])
GO
ALTER TABLE [dbo].[LabVisits] CHECK CONSTRAINT [FK_LabVisits_VisitsDetails]
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD  CONSTRAINT [FK_Request_Courses] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
GO
ALTER TABLE [dbo].[Requests] CHECK CONSTRAINT [FK_Request_Courses]
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD  CONSTRAINT [FK_Request_Devices] FOREIGN KEY([DeviceID])
REFERENCES [dbo].[Devices] ([DeviceID])
GO
ALTER TABLE [dbo].[Requests] CHECK CONSTRAINT [FK_Request_Devices]
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD  CONSTRAINT [FK_Request_Services] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Services] ([ServiceID])
GO
ALTER TABLE [dbo].[Requests] CHECK CONSTRAINT [FK_Request_Services]
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD  CONSTRAINT [FK_Request_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Requests] CHECK CONSTRAINT [FK_Request_Users]
GO
ALTER TABLE [dbo].[ServiceDevices]  WITH CHECK ADD  CONSTRAINT [FK_ServiceDevices_Devices] FOREIGN KEY([DeviceID])
REFERENCES [dbo].[Devices] ([DeviceID])
GO
ALTER TABLE [dbo].[ServiceDevices] CHECK CONSTRAINT [FK_ServiceDevices_Devices]
GO
ALTER TABLE [dbo].[ServiceDevices]  WITH CHECK ADD  CONSTRAINT [FK_ServiceDevices_Services] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Services] ([ServiceID])
GO
ALTER TABLE [dbo].[ServiceDevices] CHECK CONSTRAINT [FK_ServiceDevices_Services]
GO
