USE [AcadifySeniorProject]
GO
/****** Object:  Table [dbo].[AcademicAdvisingConfirmationForm]    Script Date: 7/19/2026 3:13:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AcademicAdvisingConfirmationForm](
	[formID] [int] NOT NULL,
	[studentName] [nvarchar](120) NULL,
	[studentLevel] [nvarchar](50) NULL,
	[currentGPA] [decimal](4, 2) NULL,
	[coursesCount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[formID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AcademicCalendar]    Script Date: 7/19/2026 3:13:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AcademicCalendar](
	[calendarID] [int] IDENTITY(1,1) NOT NULL,
	[pdfFile] [nvarchar](255) NULL,
	[uploadedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[calendarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AcademicCalendarEvent]    Script Date: 7/19/2026 3:13:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AcademicCalendarEvent](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[calendarID] [int] NOT NULL,
	[eventName] [nvarchar](500) NOT NULL,
	[gregorianDate] [date] NULL,
	[hijriDate] [nvarchar](20) NULL,
	[dayAr] [nvarchar](20) NULL,
	[fromDate] [datetime2](7) NULL,
	[toDate] [datetime2](7) NULL,
	[term] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AcademicCalendarEvents]    Script Date: 7/19/2026 3:13:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AcademicCalendarEvents](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HijriDate] [nvarchar](20) NOT NULL,
	[EventName] [nvarchar](500) NOT NULL,
	[CalendarId] [int] NOT NULL,
	[DayAr] [nvarchar](20) NULL,
	[GregorianDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 7/19/2026 3:13:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[adminID] [int] IDENTITY(1,1) NOT NULL,
	[userID] [int] NOT NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[adminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Advisor]    Script Date: 7/19/2026 3:13:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Advisor](
	[advisorID] [int] NOT NULL,
	[department] [nvarchar](120) NULL,
	[userID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[advisorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdvisorRequest]    Script Date: 7/19/2026 3:13:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdvisorRequest](
	[requestID] [int] IDENTITY(1,1) NOT NULL,
	[studentID] [int] NOT NULL,
	[requestedAdvisorID] [int] NULL,
	[requestedAdvisorEmail] [nvarchar](150) NULL,
	[status] [nvarchar](30) NOT NULL,
	[adminNote] [nvarchar](300) NULL,
	[createdAt] [datetime] NOT NULL,
	[updatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[requestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Community]    Script Date: 7/19/2026 3:13:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Community](
	[communityID] [int] IDENTITY(1,1) NOT NULL,
	[communityName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[communityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CommunityMessages]    Script Date: 7/19/2026 3:13:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommunityMessages](
	[messageID] [int] IDENTITY(1,1) NOT NULL,
	[communityID] [int] NOT NULL,
	[senderName] [nvarchar](120) NOT NULL,
	[messageText] [nvarchar](max) NOT NULL,
	[messageDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[messageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 7/19/2026 3:13:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[courseID] [nvarchar](30) NOT NULL,
	[courseName] [nvarchar](200) NOT NULL,
	[hours] [int] NOT NULL,
	[prerequisite] [nvarchar](200) NULL,
	[GraduationRequirement] [nvarchar](200) NULL,
	[RequirementCategory] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[courseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseChoiceMonitoringForm]    Script Date: 7/19/2026 3:13:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseChoiceMonitoringForm](
	[formID] [int] NOT NULL,
	[semester] [nvarchar](100) NULL,
	[comingSemester] [nvarchar](100) NULL,
	[runningCreditHours] [int] NULL,
	[advisedCreditHours] [int] NULL,
	[level] [nvarchar](100) NULL,
	[dropSubjects] [nvarchar](max) NULL,
	[isSubjects] [nvarchar](max) NULL,
	[ipSubjects] [nvarchar](max) NULL,
	[selectedCoursesJson] [nvarchar](max) NULL,
 CONSTRAINT [PK_CourseChoiceMonitoringForm] PRIMARY KEY CLUSTERED 
(
	[formID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseTranscript]    Script Date: 7/19/2026 3:13:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseTranscript](
	[CoursesCourseId] [nvarchar](30) NOT NULL,
	[TranscriptsTranscriptId] [int] NOT NULL,
 CONSTRAINT [PK_CourseTranscript] PRIMARY KEY CLUSTERED 
(
	[CoursesCourseId] ASC,
	[TranscriptsTranscriptId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Forms]    Script Date: 7/19/2026 3:13:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Forms](
	[formID] [int] IDENTITY(1,1) NOT NULL,
	[studentID] [int] NOT NULL,
	[advisorID] [int] NOT NULL,
	[formType] [nvarchar](80) NOT NULL,
	[formDate] [datetime2](7) NOT NULL,
	[formStatus] [nvarchar](60) NOT NULL,
	[advisorNotes] [nvarchar](max) NULL,
	[autoFilled] [bit] NOT NULL,
	[AdvisorConfirmation] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[formID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GraduationProjectEligibilityForm]    Script Date: 7/19/2026 3:13:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GraduationProjectEligibilityForm](
	[formID] [int] NOT NULL,
	[eligibility] [nvarchar](50) NULL,
	[requiredCoursesStatus] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[formID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GraduationStatus]    Script Date: 7/19/2026 3:13:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GraduationStatus](
	[statusID] [int] IDENTITY(1,1) NOT NULL,
	[studentID] [int] NOT NULL,
	[status] [nvarchar](80) NOT NULL,
	[remainingHours] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[statusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MatchingStatus]    Script Date: 7/19/2026 3:13:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MatchingStatus](
	[statusID] [int] IDENTITY(1,1) NOT NULL,
	[studentID] [int] NOT NULL,
	[status] [nvarchar](80) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[statusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Meeting]    Script Date: 7/19/2026 3:13:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Meeting](
	[meetingID] [int] IDENTITY(1,1) NOT NULL,
	[studentID] [int] NOT NULL,
	[advisorID] [int] NOT NULL,
	[chatRecord] [nvarchar](max) NULL,
	[startTime] [datetime2](7) NULL,
	[endTime] [datetime2](7) NULL,
	[chatSummary] [nvarchar](max) NULL,
	[isRecordingStarted] [bit] NOT NULL,
	[lastRecordingAction] [nvarchar](100) NULL,
	[recordingStartedAt] [datetime2](7) NULL,
	[recordingStoppedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[meetingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MeetingForm]    Script Date: 7/19/2026 3:13:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeetingForm](
	[formID] [int] NOT NULL,
	[meetingStart] [datetime2](7) NULL,
	[meetingEnd] [datetime2](7) NULL,
	[meetingPurpose] [nvarchar](200) NULL,
	[meetingNotes] [nvarchar](max) NULL,
	[referralReason] [nvarchar](200) NULL,
	[referredTo] [nvarchar](200) NULL,
	[studentActions] [nvarchar](max) NULL,
	[advisorActions] [nvarchar](max) NULL,
	[meetingID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[formID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MeetingMessages]    Script Date: 7/19/2026 3:13:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeetingMessages](
	[messageID] [int] IDENTITY(1,1) NOT NULL,
	[meetingID] [int] NOT NULL,
	[senderName] [nvarchar](120) NOT NULL,
	[messageText] [nvarchar](max) NOT NULL,
	[messageDate] [datetime2](7) NULL,
	[isRecorded] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[messageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NextSemesterCourseSelectionForm]    Script Date: 7/19/2026 3:13:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NextSemesterCourseSelectionForm](
	[formID] [int] NOT NULL,
	[recommendedCourses] [nvarchar](max) NULL,
	[recommendedHours] [int] NULL,
	[trackChoice] [nvarchar](120) NULL,
	[gpaChange] [nvarchar](50) NULL,
	[prerequisiteViolation] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[formID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 7/19/2026 3:13:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[notificationID] [int] IDENTITY(1,1) NOT NULL,
	[message] [nvarchar](max) NOT NULL,
	[date] [datetime2](7) NOT NULL,
	[type] [nvarchar](60) NULL,
	[advisorID] [int] NULL,
	[studentID] [int] NULL,
	[isRead] [bit] NOT NULL,
	[adminID] [int] NULL,
	[senderRole] [nvarchar](50) NULL,
	[sourceType] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[notificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 7/19/2026 3:13:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[studentID] [int] NOT NULL,
	[Name] [nvarchar](120) NOT NULL,
	[major] [nvarchar](120) NULL,
	[level] [nvarchar](50) NULL,
	[completedHours] [int] NOT NULL,
	[cohortYear] [int] NULL,
	[advisorID] [int] NULL,
	[userID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[studentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudyPlan]    Script Date: 7/19/2026 3:13:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudyPlan](
	[planID] [int] IDENTITY(1,1) NOT NULL,
	[major] [nvarchar](120) NOT NULL,
	[totalHours] [int] NOT NULL,
	[pdfFile] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[planID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudyPlanCourse]    Script Date: 7/19/2026 3:13:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudyPlanCourse](
	[planID] [int] NOT NULL,
	[courseID] [nvarchar](30) NOT NULL,
	[semesterNo] [int] NULL,
	[displayOrder] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[planID] ASC,
	[courseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudyPlanMatchingForm]    Script Date: 7/19/2026 3:13:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudyPlanMatchingForm](
	[formID] [int] NOT NULL,
	[graduationStatus] [nvarchar](80) NULL,
	[remainingHours] [int] NULL,
	[requiredHours] [int] NULL,
	[earnedHours] [int] NULL,
	[registeredHours] [int] NULL,
	[totalHours] [int] NULL,
	[universityHours] [int] NULL,
	[prepYearHours] [int] NULL,
	[freeCoursesHours] [int] NULL,
	[collegeMandatoryHours] [int] NULL,
	[deptMandatoryHours] [int] NULL,
	[deptElectiveHours] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[formID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transcript]    Script Date: 7/19/2026 3:13:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transcript](
	[transcriptID] [int] IDENTITY(1,1) NOT NULL,
	[studentID] [int] NOT NULL,
	[pdfFile] [nvarchar](300) NULL,
	[GPA] [decimal](4, 2) NULL,
	[semesterGPA] [decimal](4, 2) NULL,
	[extractedInfo] [nvarchar](max) NULL,
	[extractedCourses] [nvarchar](max) NULL,
	[uploadedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[transcriptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TranscriptCourse]    Script Date: 7/19/2026 3:13:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TranscriptCourse](
	[transcriptID] [int] NOT NULL,
	[courseID] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[transcriptID] ASC,
	[courseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TranscriptCourseDecision]    Script Date: 7/19/2026 3:13:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TranscriptCourseDecision](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[studentID] [int] NOT NULL,
	[transcriptCourseID] [nvarchar](30) NOT NULL,
	[decisionType] [nvarchar](50) NOT NULL,
	[equivalentCourseID] [nvarchar](30) NULL,
	[isApprovedByAdvisor] [bit] NOT NULL,
	[notes] [nvarchar](max) NULL,
	[createdAt] [datetime] NOT NULL,
 CONSTRAINT [PK_TranscriptCourseDecision] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 7/19/2026 3:13:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[userID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](150) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AcademicAdvisingConfirmationForm] ([formID], [studentName], [studentLevel], [currentGPA], [coursesCount]) VALUES (1, N'Lama Zaki Alshikh', N'5th Year', CAST(4.42 AS Decimal(4, 2)), 5)
GO
SET IDENTITY_INSERT [dbo].[AcademicCalendar] ON 

INSERT [dbo].[AcademicCalendar] ([calendarID], [pdfFile], [uploadedAt]) VALUES (1083, N'bc6b27a24e22476bb75a5ad6d47cd507.xlsx', CAST(N'2026-05-13T05:22:16.0503917' AS DateTime2))
SET IDENTITY_INSERT [dbo].[AcademicCalendar] OFF
GO
SET IDENTITY_INSERT [dbo].[AcademicCalendarEvent] ON 

INSERT [dbo].[AcademicCalendarEvent] ([Id], [calendarID], [eventName], [gregorianDate], [hijriDate], [dayAr], [fromDate], [toDate], [term]) VALUES (33, 1083, N'بداية فترة تسجيل المقررات للطالب والطالبات على ODUS PLUS', CAST(N'2026-01-11' AS Date), N'-', NULL, NULL, NULL, NULL)
INSERT [dbo].[AcademicCalendarEvent] ([Id], [calendarID], [eventName], [gregorianDate], [hijriDate], [dayAr], [fromDate], [toDate], [term]) VALUES (34, 1083, N'نهاية فترة تسجيل المقررات للطالب والطالبات على ODUS PLUS', CAST(N'2026-01-20' AS Date), N'-', NULL, NULL, NULL, NULL)
INSERT [dbo].[AcademicCalendarEvent] ([Id], [calendarID], [eventName], [gregorianDate], [hijriDate], [dayAr], [fromDate], [toDate], [term]) VALUES (35, 1083, N'بداية فترة تسجيل المقررات للمرشدين الأكاديميين على ODUS PLUS وللشؤون التعليمية والوكلاء والوكيلات بالكليات', CAST(N'2026-01-13' AS Date), N'-', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[AcademicCalendarEvent] OFF
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([adminID], [userID]) VALUES (1004, 1)
INSERT [dbo].[Admin] ([adminID], [userID]) VALUES (1, 26)
INSERT [dbo].[Admin] ([adminID], [userID]) VALUES (2, 27)
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
INSERT [dbo].[Advisor] ([advisorID], [department], [userID]) VALUES (1, N'Information Systems', 1)
INSERT [dbo].[Advisor] ([advisorID], [department], [userID]) VALUES (18, N'information systems', 18)
INSERT [dbo].[Advisor] ([advisorID], [department], [userID]) VALUES (19, N'information systems', 19)
GO
SET IDENTITY_INSERT [dbo].[AdvisorRequest] ON 

INSERT [dbo].[AdvisorRequest] ([requestID], [studentID], [requestedAdvisorID], [requestedAdvisorEmail], [status], [adminNote], [createdAt], [updatedAt]) VALUES (1, 2209006, 19, N'ahsalharbi@kau.edu.sa', N'Approved', NULL, CAST(N'2026-04-17T17:24:05.217' AS DateTime), CAST(N'2026-04-17T17:28:55.020' AS DateTime))
INSERT [dbo].[AdvisorRequest] ([requestID], [studentID], [requestedAdvisorID], [requestedAdvisorEmail], [status], [adminNote], [createdAt], [updatedAt]) VALUES (2, 2209531, 28, N'lm11@kau.edu.sa', N'Approved', NULL, CAST(N'2026-04-17T17:38:15.207' AS DateTime), CAST(N'2026-04-17T17:38:54.010' AS DateTime))
INSERT [dbo].[AdvisorRequest] ([requestID], [studentID], [requestedAdvisorID], [requestedAdvisorEmail], [status], [adminNote], [createdAt], [updatedAt]) VALUES (3, 2207779, 28, N'lm11@kau.edu.sa', N'Approved', NULL, CAST(N'2026-04-17T18:21:14.873' AS DateTime), CAST(N'2026-04-17T18:22:15.193' AS DateTime))
SET IDENTITY_INSERT [dbo].[AdvisorRequest] OFF
GO
SET IDENTITY_INSERT [dbo].[Community] ON 

INSERT [dbo].[Community] ([communityID], [communityName]) VALUES (1, N'IS Community')
SET IDENTITY_INSERT [dbo].[Community] OFF
GO
SET IDENTITY_INSERT [dbo].[CommunityMessages] ON 

INSERT [dbo].[CommunityMessages] ([messageID], [communityID], [senderName], [messageText], [messageDate]) VALUES (11, 1, N'Lina Alrwaily', N'السلام عليكم دكتورة أمينة', CAST(N'2026-02-19T02:49:40.8057939' AS DateTime2))
INSERT [dbo].[CommunityMessages] ([messageID], [communityID], [senderName], [messageText], [messageDate]) VALUES (12, 1, N'Lina Alrwaily', N'هل اقدر انزل مادة تطوير برمجيات الترم الجاي؟', CAST(N'2026-02-19T02:49:40.8057939' AS DateTime2))
INSERT [dbo].[CommunityMessages] ([messageID], [communityID], [senderName], [messageText], [messageDate]) VALUES (13, 1, N'Rahaf Alghamdi', N'ايوا دكتورة حتى انا', CAST(N'2026-02-19T02:49:40.8057939' AS DateTime2))
SET IDENTITY_INSERT [dbo].[CommunityMessages] OFF
GO
INSERT [dbo].[Course] ([courseID], [courseName], [hours], [prerequisite], [GraduationRequirement], [RequirementCategory]) VALUES (N'ACCT333', N'ACCT333', 2, NULL, NULL, N'DeptMandatory')
INSERT [dbo].[Course] ([courseID], [courseName], [hours], [prerequisite], [GraduationRequirement], [RequirementCategory]) VALUES (N'ACCT-333', N'Principles of Corporate Accounting', 2, N'BUS-232', NULL, N'College Requirement')
INSERT [dbo].[Course] ([courseID], [courseName], [hours], [prerequisite], [GraduationRequirement], [RequirementCategory]) VALUES (N'ARAB101', N'ARAB101', 3, NULL, NULL, N'University')
GO
INSERT [dbo].[CourseChoiceMonitoringForm] ([formID], [semester], [comingSemester], [runningCreditHours], [advisedCreditHours], [level], [dropSubjects], [isSubjects], [ipSubjects], [selectedCoursesJson]) VALUES (23, N'', N'', 0, 0, N'Level 8', N'', N'', N'', N'[]')
INSERT [dbo].[CourseChoiceMonitoringForm] ([formID], [semester], [comingSemester], [runningCreditHours], [advisedCreditHours], [level], [dropSubjects], [isSubjects], [ipSubjects], [selectedCoursesJson]) VALUES (29, N'', N'', 0, 0, N'', N'', N'', N'', N'[]')
GO
INSERT [dbo].[CourseTranscript] ([CoursesCourseId], [TranscriptsTranscriptId]) VALUES (N'ACCT333', 10)
INSERT [dbo].[CourseTranscript] ([CoursesCourseId], [TranscriptsTranscriptId]) VALUES (N'ACCT333', 11)
INSERT [dbo].[CourseTranscript] ([CoursesCourseId], [TranscriptsTranscriptId]) VALUES (N'ACCT333', 12)
GO
SET IDENTITY_INSERT [dbo].[Forms] ON 

INSERT [dbo].[Forms] ([formID], [studentID], [advisorID], [formType], [formDate], [formStatus], [advisorNotes], [autoFilled], [AdvisorConfirmation]) VALUES (1, 2210456, 1, N'Form 1', CAST(N'2026-02-19T02:00:32.7999660' AS DateTime2), N'Pending', NULL, 1, 0)
INSERT [dbo].[Forms] ([formID], [studentID], [advisorID], [formType], [formDate], [formStatus], [advisorNotes], [autoFilled], [AdvisorConfirmation]) VALUES (2, 2210456, 1, N'Form 2', CAST(N'2026-02-19T02:00:32.7999660' AS DateTime2), N'Pending', NULL, 1, 0)
INSERT [dbo].[Forms] ([formID], [studentID], [advisorID], [formType], [formDate], [formStatus], [advisorNotes], [autoFilled], [AdvisorConfirmation]) VALUES (3, 2210456, 1, N'Form 3', CAST(N'2026-02-19T02:00:32.7999660' AS DateTime2), N'Pending', NULL, 0, 0)
SET IDENTITY_INSERT [dbo].[Forms] OFF
GO
INSERT [dbo].[GraduationProjectEligibilityForm] ([formID], [eligibility], [requiredCoursesStatus]) VALUES (5, N'Not Eligible', N'Transcript not uploaded.')
INSERT [dbo].[GraduationProjectEligibilityForm] ([formID], [eligibility], [requiredCoursesStatus]) VALUES (9, N'Not Eligible', N'CPIS351=1;CPIS358=1;CPIS323=1;CPIS380=1;CPIS357=1;CPIS342=0')
INSERT [dbo].[GraduationProjectEligibilityForm] ([formID], [eligibility], [requiredCoursesStatus]) VALUES (10, N'Not Eligible', N'CPIS351=1;CPIS358=1;CPIS323=1;CPIS380=1;CPIS357=1;CPIS342=0')
GO
SET IDENTITY_INSERT [dbo].[GraduationStatus] ON 

INSERT [dbo].[GraduationStatus] ([statusID], [studentID], [status], [remainingHours]) VALUES (13, 2210456, N'Has Remaining Courses', 18)
INSERT [dbo].[GraduationStatus] ([statusID], [studentID], [status], [remainingHours]) VALUES (14, 2210783, N'Near Graduation', 3)
INSERT [dbo].[GraduationStatus] ([statusID], [studentID], [status], [remainingHours]) VALUES (15, 2110321, N'Has Remaining Courses', 18)
SET IDENTITY_INSERT [dbo].[GraduationStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[MatchingStatus] ON 

INSERT [dbo].[MatchingStatus] ([statusID], [studentID], [status]) VALUES (13, 2210456, N'Matched')
INSERT [dbo].[MatchingStatus] ([statusID], [studentID], [status]) VALUES (14, 2210783, N'Matched')
INSERT [dbo].[MatchingStatus] ([statusID], [studentID], [status]) VALUES (15, 2110321, N'Not Matched')
SET IDENTITY_INSERT [dbo].[MatchingStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Meeting] ON 

INSERT [dbo].[Meeting] ([meetingID], [studentID], [advisorID], [chatRecord], [startTime], [endTime], [chatSummary], [isRecordingStarted], [lastRecordingAction], [recordingStartedAt], [recordingStoppedAt]) VALUES (2, 1112111, 28, NULL, CAST(N'2026-05-02T07:47:11.6133423' AS DateTime2), NULL, NULL, 0, NULL, NULL, NULL)
INSERT [dbo].[Meeting] ([meetingID], [studentID], [advisorID], [chatRecord], [startTime], [endTime], [chatSummary], [isRecordingStarted], [lastRecordingAction], [recordingStartedAt], [recordingStoppedAt]) VALUES (3, 23232, 28, NULL, CAST(N'2026-05-02T09:31:05.6486336' AS DateTime2), NULL, NULL, 0, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Meeting] OFF
GO
INSERT [dbo].[MeetingForm] ([formID], [meetingStart], [meetingEnd], [meetingPurpose], [meetingNotes], [referralReason], [referredTo], [studentActions], [advisorActions], [meetingID]) VALUES (3, CAST(N'2025-10-15T10:00:00.0000000' AS DateTime2), CAST(N'2025-10-15T10:30:00.0000000' AS DateTime2), N'Meeting request', N'السلام عليكم دكتورة، أبغى اطلب اجتماع بخصوص حذف مادة CPIS-352', N'حذف مادة', N'Advisor', N'Submit request', N'Review request', NULL)
INSERT [dbo].[MeetingForm] ([formID], [meetingStart], [meetingEnd], [meetingPurpose], [meetingNotes], [referralReason], [referredTo], [studentActions], [advisorActions], [meetingID]) VALUES (24, CAST(N'2026-05-02T07:50:00.0000000' AS DateTime2), CAST(N'2026-05-02T07:52:34.2423546' AS DateTime2), NULL, N'The student discussed: دكتوره عادي لو تدربنا في بنك؟
The advisor responded with: لا يا بنتي للتدريب الصيفي م ينفع تدربو بالبنك , فقط مسموح التدريب في الجهات اللي فيها تقنيه', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[MeetingForm] ([formID], [meetingStart], [meetingEnd], [meetingPurpose], [meetingNotes], [referralReason], [referredTo], [studentActions], [advisorActions], [meetingID]) VALUES (25, CAST(N'2026-05-02T09:46:00.0000000' AS DateTime2), CAST(N'2026-05-02T09:47:43.2370787' AS DateTime2), N'Other', N'تمت مناقشة إمكانية التدريب في شركة أرامكو، حيث أكدت المرشدة أن ذلك مقبول. وقد نصحت بضرورة إرسال خطاب رسمي إلى الجهة المعنية قبل البدء في إجراءات التدريب.', NULL, NULL, NULL, NULL, 4)
GO
SET IDENTITY_INSERT [dbo].[MeetingMessages] ON 

INSERT [dbo].[MeetingMessages] ([messageID], [meetingID], [senderName], [messageText], [messageDate], [isRecorded]) VALUES (5, 1, N'd', N'السلام عليكم', CAST(N'2026-05-02T07:45:55.5156733' AS DateTime2), 0)
INSERT [dbo].[MeetingMessages] ([messageID], [meetingID], [senderName], [messageText], [messageDate], [isRecorded]) VALUES (6, 1, N'lama (me)', N'و عليكم السلام', CAST(N'2026-05-02T07:47:36.0861830' AS DateTime2), 0)
INSERT [dbo].[MeetingMessages] ([messageID], [meetingID], [senderName], [messageText], [messageDate], [isRecorded]) VALUES (7, 1, N'd', N'دكتوره عادي لو تدربنا في بنك؟', CAST(N'2026-05-02T07:51:24.0296510' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[MeetingMessages] OFF
GO
INSERT [dbo].[NextSemesterCourseSelectionForm] ([formID], [recommendedCourses], [recommendedHours], [trackChoice], [gpaChange], [prerequisiteViolation]) VALUES (2, N'CPIS-352, CPIS-358, CPIS-351', 9, N'Information Systems Track', N'No', N'No')
GO
SET IDENTITY_INSERT [dbo].[Notification] ON 

INSERT [dbo].[Notification] ([notificationID], [message], [date], [type], [advisorID], [studentID], [isRead], [adminID], [senderRole], [sourceType]) VALUES (1222, N'Upcoming academic event: إجازة عيد الأضحى المبارك. Event date: 21/05/2026.', CAST(N'2026-05-19T03:24:19.7502196' AS DateTime2), N'calendar-47-Upcoming', 1, NULL, 0, NULL, N'System', N'Calendar')
INSERT [dbo].[Notification] ([notificationID], [message], [date], [type], [advisorID], [studentID], [isRead], [adminID], [senderRole], [sourceType]) VALUES (1223, N'Upcoming academic event: إجازة عيد الأضحى المبارك. Event date: 21/05/2026.', CAST(N'2026-05-19T09:39:20.7353599' AS DateTime2), N'calendar-47-Upcoming', 28, NULL, 0, NULL, N'System', N'Calendar')
INSERT [dbo].[Notification] ([notificationID], [message], [date], [type], [advisorID], [studentID], [isRead], [adminID], [senderRole], [sourceType]) VALUES (1224, N'Upcoming academic event: إجازة عيد الأضحى المبارك. Event date: 21/05/2026.', CAST(N'2026-05-19T09:39:26.7975001' AS DateTime2), N'calendar-47-Upcoming', NULL, 2209999, 0, NULL, N'System', N'Calendar')
SET IDENTITY_INSERT [dbo].[Notification] OFF
GO
INSERT [dbo].[Student] ([studentID], [Name], [major], [level], [completedHours], [cohortYear], [advisorID], [userID]) VALUES (1111, N'lmo', N'Information Systems', NULL, 0, NULL, 28, 48)
INSERT [dbo].[Student] ([studentID], [Name], [major], [level], [completedHours], [cohortYear], [advisorID], [userID]) VALUES (1231, N'asma', N'Information Systems', NULL, 0, NULL, NULL, 61)
INSERT [dbo].[Student] ([studentID], [Name], [major], [level], [completedHours], [cohortYear], [advisorID], [userID]) VALUES (11111, N'lma', N'Information Systems', NULL, 0, NULL, 28, 36)
GO
SET IDENTITY_INSERT [dbo].[StudyPlan] ON 

INSERT [dbo].[StudyPlan] ([planID], [major], [totalHours], [pdfFile]) VALUES (1, N'Information Systems', 111, N'StudyPlan_20260518034317.xlsx')
SET IDENTITY_INSERT [dbo].[StudyPlan] OFF
GO
INSERT [dbo].[StudyPlanCourse] ([planID], [courseID], [semesterNo], [displayOrder]) VALUES (1, N'ACCT-333', 7, 4)
INSERT [dbo].[StudyPlanCourse] ([planID], [courseID], [semesterNo], [displayOrder]) VALUES (1, N'ARAB-101', 4, 3)
INSERT [dbo].[StudyPlanCourse] ([planID], [courseID], [semesterNo], [displayOrder]) VALUES (1, N'ARAB-201', 8, 4)
GO
INSERT [dbo].[StudyPlanMatchingForm] ([formID], [graduationStatus], [remainingHours], [requiredHours], [earnedHours], [registeredHours], [totalHours], [universityHours], [prepYearHours], [freeCoursesHours], [collegeMandatoryHours], [deptMandatoryHours], [deptElectiveHours]) VALUES (4, N'Near Graduation', 11, 140, 129, 11, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[StudyPlanMatchingForm] ([formID], [graduationStatus], [remainingHours], [requiredHours], [earnedHours], [registeredHours], [totalHours], [universityHours], [prepYearHours], [freeCoursesHours], [collegeMandatoryHours], [deptMandatoryHours], [deptElectiveHours]) VALUES (28, NULL, 9, 140, 131, NULL, 131, 12, 27, 9, 24, 50, 6)
INSERT [dbo].[StudyPlanMatchingForm] ([formID], [graduationStatus], [remainingHours], [requiredHours], [earnedHours], [registeredHours], [totalHours], [universityHours], [prepYearHours], [freeCoursesHours], [collegeMandatoryHours], [deptMandatoryHours], [deptElectiveHours]) VALUES (1034, NULL, 9, 140, 131, NULL, 131, 0, 0, 0, 0, 0, 0)
GO
SET IDENTITY_INSERT [dbo].[Transcript] ON 

SET IDENTITY_INSERT [dbo].[Transcript] OFF
GO
INSERT [dbo].[TranscriptCourse] ([transcriptID], [courseID]) VALUES (1, N'ACCT333')
INSERT [dbo].[TranscriptCourse] ([transcriptID], [courseID]) VALUES (1, N'ARAB101')
INSERT [dbo].[TranscriptCourse] ([transcriptID], [courseID]) VALUES (1, N'ARAB292')
GO
SET IDENTITY_INSERT [dbo].[TranscriptCourseDecision] ON 

INSERT [dbo].[TranscriptCourseDecision] ([id], [studentID], [transcriptCourseID], [decisionType], [equivalentCourseID], [isApprovedByAdvisor], [notes], [createdAt]) VALUES (1, 23232, N'ARAB292', N'FreeElective', NULL, 1, NULL, CAST(N'2026-05-02T11:34:48.013' AS DateTime))
INSERT [dbo].[TranscriptCourseDecision] ([id], [studentID], [transcriptCourseID], [decisionType], [equivalentCourseID], [isApprovedByAdvisor], [notes], [createdAt]) VALUES (2, 23232, N'ASTR203', N'FreeElective', NULL, 1, NULL, CAST(N'2026-05-02T11:34:48.037' AS DateTime))
INSERT [dbo].[TranscriptCourseDecision] ([id], [studentID], [transcriptCourseID], [decisionType], [equivalentCourseID], [isApprovedByAdvisor], [notes], [createdAt]) VALUES (3, 23232, N'MRKC323', N'FreeElective', NULL, 1, NULL, CAST(N'2026-05-02T11:34:48.040' AS DateTime))
SET IDENTITY_INSERT [dbo].[TranscriptCourseDecision] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([userID], [Name], [email], [password]) VALUES (1, N'Dr. Amina Gamlo', N'ahgamlo@kau.edu.sa', N'12345')
INSERT [dbo].[User] ([userID], [Name], [email], [password]) VALUES (2, N'lama alshikh', N'lalshikh@stu.kau.edu.sa', N'12345')
INSERT [dbo].[User] ([userID], [Name], [email], [password]) VALUES (3, N'lina alrwaily', N'lina@kau.edu.sa', N'12345')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
/****** Object:  Index [UQ_Admin_UserID]    Script Date: 7/19/2026 3:13:19 AM ******/
ALTER TABLE [dbo].[Admin] ADD  CONSTRAINT [UQ_Admin_UserID] UNIQUE NONCLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Advisor_UserID]    Script Date: 7/19/2026 3:13:19 AM ******/
ALTER TABLE [dbo].[Advisor] ADD  CONSTRAINT [UQ_Advisor_UserID] UNIQUE NONCLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Graduati__4D11D65DD7D26C0D]    Script Date: 7/19/2026 3:13:19 AM ******/
ALTER TABLE [dbo].[GraduationStatus] ADD UNIQUE NONCLUSTERED 
(
	[studentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Matching__4D11D65D005ED580]    Script Date: 7/19/2026 3:13:19 AM ******/
ALTER TABLE [dbo].[MatchingStatus] ADD UNIQUE NONCLUSTERED 
(
	[studentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Transcri__4D11D65DABAA087B]    Script Date: 7/19/2026 3:13:19 AM ******/
ALTER TABLE [dbo].[Transcript] ADD UNIQUE NONCLUSTERED 
(
	[studentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__AB6E6164942EBD22]    Script Date: 7/19/2026 3:13:19 AM ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AcademicCalendar] ADD  DEFAULT (sysdatetime()) FOR [uploadedAt]
GO
ALTER TABLE [dbo].[AdvisorRequest] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[AdvisorRequest] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[CommunityMessages] ADD  DEFAULT (sysdatetime()) FOR [messageDate]
GO
ALTER TABLE [dbo].[Forms] ADD  DEFAULT (sysutcdatetime()) FOR [formDate]
GO
ALTER TABLE [dbo].[Forms] ADD  DEFAULT ('Pending') FOR [formStatus]
GO
ALTER TABLE [dbo].[Forms] ADD  DEFAULT ((0)) FOR [autoFilled]
GO
ALTER TABLE [dbo].[GraduationStatus] ADD  DEFAULT ((0)) FOR [remainingHours]
GO
ALTER TABLE [dbo].[Meeting] ADD  CONSTRAINT [DF_Meeting_IsRecordingStarted]  DEFAULT ((0)) FOR [isRecordingStarted]
GO
ALTER TABLE [dbo].[MeetingMessages] ADD  DEFAULT (sysdatetime()) FOR [messageDate]
GO
ALTER TABLE [dbo].[MeetingMessages] ADD  DEFAULT ((0)) FOR [isRecorded]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT (sysutcdatetime()) FOR [date]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT ((0)) FOR [isRead]
GO
ALTER TABLE [dbo].[Student] ADD  DEFAULT ((0)) FOR [completedHours]
GO
ALTER TABLE [dbo].[TranscriptCourseDecision] ADD  CONSTRAINT [DF_TranscriptCourseDecision_DecisionType]  DEFAULT ('FreeElective') FOR [decisionType]
GO
ALTER TABLE [dbo].[TranscriptCourseDecision] ADD  CONSTRAINT [DF_TranscriptCourseDecision_IsApprovedByAdvisor]  DEFAULT ((0)) FOR [isApprovedByAdvisor]
GO
ALTER TABLE [dbo].[TranscriptCourseDecision] ADD  CONSTRAINT [DF_TranscriptCourseDecision_CreatedAt]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[AcademicAdvisingConfirmationForm]  WITH CHECK ADD  CONSTRAINT [FK_AACF_Forms] FOREIGN KEY([formID])
REFERENCES [dbo].[Forms] ([formID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AcademicAdvisingConfirmationForm] CHECK CONSTRAINT [FK_AACF_Forms]
GO
ALTER TABLE [dbo].[AcademicCalendarEvent]  WITH CHECK ADD  CONSTRAINT [FK_AcademicCalendarEvent_AcademicCalendar] FOREIGN KEY([calendarID])
REFERENCES [dbo].[AcademicCalendar] ([calendarID])
GO
ALTER TABLE [dbo].[AcademicCalendarEvent] CHECK CONSTRAINT [FK_AcademicCalendarEvent_AcademicCalendar]
GO
ALTER TABLE [dbo].[AcademicCalendarEvents]  WITH CHECK ADD  CONSTRAINT [FK_AcademicCalendarEvents_AcademicCalendar] FOREIGN KEY([CalendarId])
REFERENCES [dbo].[AcademicCalendar] ([calendarID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AcademicCalendarEvents] CHECK CONSTRAINT [FK_AcademicCalendarEvents_AcademicCalendar]
GO
ALTER TABLE [dbo].[Admin]  WITH CHECK ADD  CONSTRAINT [FK_Admin_User] FOREIGN KEY([userID])
REFERENCES [dbo].[User] ([userID])
GO
ALTER TABLE [dbo].[Admin] CHECK CONSTRAINT [FK_Admin_User]
GO
ALTER TABLE [dbo].[Advisor]  WITH CHECK ADD  CONSTRAINT [FK_Advisor_User] FOREIGN KEY([advisorID])
REFERENCES [dbo].[User] ([userID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Advisor] CHECK CONSTRAINT [FK_Advisor_User]
GO
ALTER TABLE [dbo].[AdvisorRequest]  WITH CHECK ADD  CONSTRAINT [FK_AdvisorRequest_Advisor] FOREIGN KEY([requestedAdvisorID])
REFERENCES [dbo].[Advisor] ([advisorID])
GO
ALTER TABLE [dbo].[AdvisorRequest] CHECK CONSTRAINT [FK_AdvisorRequest_Advisor]
GO
ALTER TABLE [dbo].[AdvisorRequest]  WITH CHECK ADD  CONSTRAINT [FK_AdvisorRequest_Student] FOREIGN KEY([studentID])
REFERENCES [dbo].[Student] ([studentID])
GO
ALTER TABLE [dbo].[AdvisorRequest] CHECK CONSTRAINT [FK_AdvisorRequest_Student]
GO
ALTER TABLE [dbo].[CommunityMessages]  WITH CHECK ADD  CONSTRAINT [FK_CommunityMessages_Community] FOREIGN KEY([communityID])
REFERENCES [dbo].[Community] ([communityID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CommunityMessages] CHECK CONSTRAINT [FK_CommunityMessages_Community]
GO
ALTER TABLE [dbo].[CourseTranscript]  WITH CHECK ADD  CONSTRAINT [FK_CourseTranscript_Course] FOREIGN KEY([CoursesCourseId])
REFERENCES [dbo].[Course] ([courseID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CourseTranscript] CHECK CONSTRAINT [FK_CourseTranscript_Course]
GO
ALTER TABLE [dbo].[CourseTranscript]  WITH CHECK ADD  CONSTRAINT [FK_CourseTranscript_Transcript] FOREIGN KEY([TranscriptsTranscriptId])
REFERENCES [dbo].[Transcript] ([transcriptID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CourseTranscript] CHECK CONSTRAINT [FK_CourseTranscript_Transcript]
GO
ALTER TABLE [dbo].[Forms]  WITH CHECK ADD  CONSTRAINT [FK_Forms_Advisor] FOREIGN KEY([advisorID])
REFERENCES [dbo].[Advisor] ([advisorID])
GO
ALTER TABLE [dbo].[Forms] CHECK CONSTRAINT [FK_Forms_Advisor]
GO
ALTER TABLE [dbo].[Forms]  WITH CHECK ADD  CONSTRAINT [FK_Forms_Student] FOREIGN KEY([studentID])
REFERENCES [dbo].[Student] ([studentID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Forms] CHECK CONSTRAINT [FK_Forms_Student]
GO
ALTER TABLE [dbo].[GraduationProjectEligibilityForm]  WITH CHECK ADD  CONSTRAINT [FK_GPEF_Forms] FOREIGN KEY([formID])
REFERENCES [dbo].[Forms] ([formID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GraduationProjectEligibilityForm] CHECK CONSTRAINT [FK_GPEF_Forms]
GO
ALTER TABLE [dbo].[GraduationStatus]  WITH CHECK ADD  CONSTRAINT [FK_GradStatus_Student] FOREIGN KEY([studentID])
REFERENCES [dbo].[Student] ([studentID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GraduationStatus] CHECK CONSTRAINT [FK_GradStatus_Student]
GO
ALTER TABLE [dbo].[MatchingStatus]  WITH CHECK ADD  CONSTRAINT [FK_MatchingStatus_Student] FOREIGN KEY([studentID])
REFERENCES [dbo].[Student] ([studentID])
GO
ALTER TABLE [dbo].[MatchingStatus] CHECK CONSTRAINT [FK_MatchingStatus_Student]
GO
ALTER TABLE [dbo].[MatchingStatus]  WITH CHECK ADD  CONSTRAINT [FK_MatchStatus_Student] FOREIGN KEY([studentID])
REFERENCES [dbo].[Student] ([studentID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MatchingStatus] CHECK CONSTRAINT [FK_MatchStatus_Student]
GO
ALTER TABLE [dbo].[Meeting]  WITH CHECK ADD  CONSTRAINT [FK_Meeting_Advisor] FOREIGN KEY([advisorID])
REFERENCES [dbo].[Advisor] ([advisorID])
GO
ALTER TABLE [dbo].[Meeting] CHECK CONSTRAINT [FK_Meeting_Advisor]
GO
ALTER TABLE [dbo].[Meeting]  WITH CHECK ADD  CONSTRAINT [FK_Meeting_Student] FOREIGN KEY([studentID])
REFERENCES [dbo].[Student] ([studentID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Meeting] CHECK CONSTRAINT [FK_Meeting_Student]
GO
ALTER TABLE [dbo].[MeetingForm]  WITH CHECK ADD  CONSTRAINT [FK_MeetingForm_Forms] FOREIGN KEY([formID])
REFERENCES [dbo].[Forms] ([formID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MeetingForm] CHECK CONSTRAINT [FK_MeetingForm_Forms]
GO
ALTER TABLE [dbo].[NextSemesterCourseSelectionForm]  WITH CHECK ADD  CONSTRAINT [FK_NSCSF_Forms] FOREIGN KEY([formID])
REFERENCES [dbo].[Forms] ([formID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NextSemesterCourseSelectionForm] CHECK CONSTRAINT [FK_NSCSF_Forms]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notif_Advisor] FOREIGN KEY([advisorID])
REFERENCES [dbo].[Advisor] ([advisorID])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notif_Advisor]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notif_Student] FOREIGN KEY([studentID])
REFERENCES [dbo].[Student] ([studentID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notif_Student]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Advisor] FOREIGN KEY([advisorID])
REFERENCES [dbo].[Advisor] ([advisorID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Advisor]
GO
ALTER TABLE [dbo].[StudyPlanCourse]  WITH CHECK ADD  CONSTRAINT [FK_SPC_Course] FOREIGN KEY([courseID])
REFERENCES [dbo].[Course] ([courseID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[StudyPlanCourse] CHECK CONSTRAINT [FK_SPC_Course]
GO
ALTER TABLE [dbo].[StudyPlanCourse]  WITH CHECK ADD  CONSTRAINT [FK_SPC_StudyPlan] FOREIGN KEY([planID])
REFERENCES [dbo].[StudyPlan] ([planID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudyPlanCourse] CHECK CONSTRAINT [FK_SPC_StudyPlan]
GO
ALTER TABLE [dbo].[StudyPlanMatchingForm]  WITH CHECK ADD  CONSTRAINT [FK_SPMF_Forms] FOREIGN KEY([formID])
REFERENCES [dbo].[Forms] ([formID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudyPlanMatchingForm] CHECK CONSTRAINT [FK_SPMF_Forms]
GO
ALTER TABLE [dbo].[Transcript]  WITH CHECK ADD  CONSTRAINT [FK_Transcript_Student] FOREIGN KEY([studentID])
REFERENCES [dbo].[Student] ([studentID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Transcript] CHECK CONSTRAINT [FK_Transcript_Student]
GO
ALTER TABLE [dbo].[TranscriptCourse]  WITH CHECK ADD  CONSTRAINT [FK_TC_Course] FOREIGN KEY([courseID])
REFERENCES [dbo].[Course] ([courseID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TranscriptCourse] CHECK CONSTRAINT [FK_TC_Course]
GO
ALTER TABLE [dbo].[TranscriptCourse]  WITH CHECK ADD  CONSTRAINT [FK_TC_Transcript] FOREIGN KEY([transcriptID])
REFERENCES [dbo].[Transcript] ([transcriptID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TranscriptCourse] CHECK CONSTRAINT [FK_TC_Transcript]
GO
ALTER TABLE [dbo].[TranscriptCourseDecision]  WITH CHECK ADD  CONSTRAINT [FK_TranscriptCourseDecision_EquivalentCourse] FOREIGN KEY([equivalentCourseID])
REFERENCES [dbo].[Course] ([courseID])
GO
ALTER TABLE [dbo].[TranscriptCourseDecision] CHECK CONSTRAINT [FK_TranscriptCourseDecision_EquivalentCourse]
GO
ALTER TABLE [dbo].[TranscriptCourseDecision]  WITH CHECK ADD  CONSTRAINT [FK_TranscriptCourseDecision_Student] FOREIGN KEY([studentID])
REFERENCES [dbo].[Student] ([studentID])
GO
ALTER TABLE [dbo].[TranscriptCourseDecision] CHECK CONSTRAINT [FK_TranscriptCourseDecision_Student]
GO
ALTER TABLE [dbo].[TranscriptCourseDecision]  WITH CHECK ADD  CONSTRAINT [FK_TranscriptCourseDecision_TranscriptCourse] FOREIGN KEY([transcriptCourseID])
REFERENCES [dbo].[Course] ([courseID])
GO
ALTER TABLE [dbo].[TranscriptCourseDecision] CHECK CONSTRAINT [FK_TranscriptCourseDecision_TranscriptCourse]
GO
